---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to my blog!</h1>
			<p>
				Hi there, I'm Elsbeth, a student enrolled in a cybersecurity master program.
				I decided to create this simple blog to keep track of some school projects that 
				I consider to be interesting and honestly relevant. I will also add some personal research 
				on topics that I love and maybe some more security-related content.
			</p>
			<p>
				For the moment, this website is still in progress. I haven't prepared the blog content yet, but I will very soon! 
			</p>
			<p>
				If you want to know more about me, go check out my LinkedIn profile or my GitHub repos.
			</p>
		</main>
		<Footer />
	</body>
</html>
