---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">
				<!-- header ICON  -->
				<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" fill="none">
					<g>
					 <title>Home</title>
					 <g id="svg_7">
					  <ellipse fill="#b2b2b2" stroke-width="2" cx="217.16342" cy="-44.09739" id="svg_48" rx="152.01549" ry="146.30703" transform="matrix(0.222083, -4.33053e-05, 4.44951e-05, 0.216145, 5.03431, 55.0684)" opacity="0.15"/>
					  <g id="svg_47" transform="matrix(0.216726, -0.0471895, 0.0484861, 0.21093, -3.08282, 66.6888)">
					   <ellipse fill="#FFCCD8" cx="321.29569" cy="-49.57187" id="svg_11"/>
					   <ellipse fill="none" stroke="#FF0000" stroke-width="2" cx="411.00827" cy="-138.95947" id="svg_45" rx="8.36042" ry="0.8501"/>
					   <path d="m414.77677,-134.33136c-33.26104,-10.85658 -67.31232,-3.81082 -84.49014,31.01985c-18.88832,36.88887 -3.00373,74.42562 -22.34646,105.72607c-20.38018,32.92673 -66.87076,29.00573 -93.23695,44.97916c-15.41017,9.26409 -38.90982,20.67452 -46.59204,36.91385c-4.66563,9.49767 -29.15643,35.18032 -22.66555,31.06099c20.44491,-12.85455 51.30669,-30.72897 67.54853,-63.41625c10.31155,-23.21751 27.41078,-71.7122 40.06444,-104.41417m39.01985,-90.94848c10.22581,-13.82561 22.03065,-24.21062 35.75176,-28.75305c9.7271,-3.22025 21.10896,-5.77793 37.74091,-2.55916c22.23643,4.30737 33.43681,27.46465 55.45746,34.77338" stroke="#ff0000" stroke-width="4" fill="none" id="svg_1"/>
					   <path d="m416.20575,-134.33136c-33.26104,-10.85658 -67.31232,-3.81082 -84.49014,31.01985c-18.88832,36.88887 -3.00373,74.42562 -22.34646,105.72607c-20.38018,32.92673 -66.87076,29.00573 -93.23695,44.97916c-15.41017,9.26409 -38.90982,20.67452 -46.59204,36.91385c-4.66563,9.49767 -29.15643,35.18032 -22.66555,31.06099c20.44491,-12.85455 51.30669,-30.72897 67.54853,-63.41625c10.31155,-23.21751 27.41078,-71.7122 40.06444,-104.41417m39.01985,-90.94848c10.22581,-13.82561 22.03065,-24.21062 35.75176,-28.75305c9.7271,-3.22025 21.10896,-5.77793 37.74091,-2.55916c22.23643,4.30737 33.43681,27.46465 55.45746,34.77338" fill="#FFCCD8" id="svg_2"/>
					   <path d="m277.15127,-117.05338c9.84427,-54.06401 -231.26343,-163.97464 -180.14994,-64.31974c19.59066,38.18902 64.72085,23.99466 86.11561,47.16957c0.22006,0.23799 -15.44589,8.92913 -16.82772,10.71996c-15.82372,20.56727 31.93209,19.42285 41.57345,20.36895" stroke="#FF0000" stroke-width="4" fill="none" id="svg_3"/>
					   <path d="m277.15127,-117.05338c9.84427,-54.06401 -231.26343,-163.97464 -180.14994,-64.31974c19.59066,38.18902 64.72085,23.99466 86.11561,47.16957c0.22006,0.23799 -15.44589,8.92913 -16.82772,10.71996c-15.82372,20.56727 31.93209,19.42285 41.57345,20.36895" fill="#FF8C94" id="svg_4"/>
					   <circle cx="181.87941" cy="-88.39096" r="10.80637" stroke="#FF0000" stroke-width="2" fill="none" id="svg_5" transform="matrix(1.16652, 0.075517, -0.0722713, 1.21891, 6.47743, -11.3594)"/>
					   <circle cx="224.83605" cy="-105.16133" r="9.12219" fill="#000000" id="svg_6"/>
					   <ellipse fill="#FFCCD8" cx="431.38082" cy="-11.68721" id="svg_9" rx="42.67916" ry="10.84179" transform="matrix(0.824011, -0.414536, 0.394211, 0.866498, -61.7995, 119.86)"/>
					   <ellipse fill="#FFCCD8" cx="306.6872" cy="-67.414" id="svg_12" rx="0.24688"/>
					   <ellipse fill="#FFCCD8" cx="375.96824" cy="-156.36913" id="svg_13" rx="45.53398" ry="8.61915" transform="matrix(0.913041, -0.0288471, 0.0274327, 0.96012, -4.13035, 17.2965)"/>
					   <line fill="none" x1="418.77378" y1="-142.67923" x2="469.96441" y2="-121.90426" id="svg_19" stroke="#ff0000"/>
					   <line fill="none" stroke="#ff0000" x1="412.37566" y1="-132.64948" x2="470.28645" y2="-121.84037" id="svg_20"/>
					   <line fill="none" stroke="#ff0000" x1="396.79458" y1="-140.23482" x2="421.65778" y2="-140.42446" id="svg_23"/>
					   <line fill="none" stroke="#ff0000" x1="410.86296" y1="-136.9918" x2="415.27326" y2="-133.26966" id="svg_28"/>
					   <line fill="none" stroke="#ff0000" x1="421.37982" y1="-140.71393" x2="464.12576" y2="-123.5212" id="svg_29"/>
					   <line fill="none" stroke="#ff0000" x1="412.71477" y1="-133.60944" x2="460.2911" y2="-124.46225" id="svg_32"/>
					   <line fill="none" stroke="#ff0000" x1="414.42751" y1="-134.40485" x2="422.42034" y2="-139.9727" id="svg_34"/>
					   <line fill="none" stroke="#ff0000" x1="404.34133" y1="-139.575" x2="416.52087" y2="-139.37615" id="svg_35"/>
					   <path fill="none" stroke="#ff0000" stroke-width="3" id="svg_38" d="m413.28567,-137.78533c0.19032,0 0.19032,0 0.19032,0c0,0 0.19029,0 0.19029,0c0,0 0.19032,0 0.19032,0c0,0 0.19029,0 0.19029,0c0,0.19885 0.19032,0.19885 0.19032,0.19885c0,0 0,0.19886 0,0.19886c0.19029,0 0.19029,0.19885 0.19029,0.19885c0,0 0,0 0,0.19885c0,0 0,0 0,0c0,0 0.19032,0 0.19032,0l0,-0.19885l0,0"/>
					   <polyline fill="none" stroke="#ff0000" stroke-width="3" points="414.6178388595581,-137.58648133277893 414.6178388595581,-137.58648133277893 " id="svg_39" stroke-linecap="round"/>
					   <ellipse fill="none" stroke="#ff0000" stroke-width="3" cx="413.28567" cy="-138.38189" id="svg_42" rx="3.99641" ry="0.3977"/>
					  </g>
					 </g>
					</g>
				   </svg>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<!--
			<HeaderLink href="/about">About</HeaderLink> -->
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/elsbeth-monrroy/" target="_blank">
				<span class="sr-only">Let's connect on LinkedIn</span>
				<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
				<path fill="currentColor" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5	V37z"></path><path d="M30,37V26.901c0-1.689-0.819-2.698-2.192-2.698c-0.815,0-1.414,0.459-1.779,1.364	c-0.017,0.064-0.041,0.325-0.031,1.114L26,37h-7V18h7v1.061C27.022,18.356,28.275,18,29.738,18c4.547,0,7.261,3.093,7.261,8.274	L37,37H30z M11,37V18h3.457C12.454,18,11,16.528,11,14.499C11,12.472,12.478,11,14.514,11c2.012,0,3.445,1.431,3.486,3.479	C18,16.523,16.521,18,14.485,18H18v19H11z" opacity=".05"></path><path d="M30.5,36.5v-9.599c0-1.973-1.031-3.198-2.692-3.198c-1.295,0-1.935,0.912-2.243,1.677	c-0.082,0.199-0.071,0.989-0.067,1.326L25.5,36.5h-6v-18h6v1.638c0.795-0.823,2.075-1.638,4.238-1.638	c4.233,0,6.761,2.906,6.761,7.774L36.5,36.5H30.5z M11.5,36.5v-18h6v18H11.5z M14.457,17.5c-1.713,0-2.957-1.262-2.957-3.001	c0-1.738,1.268-2.999,3.014-2.999c1.724,0,2.951,1.229,2.986,2.989c0,1.749-1.268,3.011-3.015,3.011H14.457z" opacity=".07"></path><path fill="#fff" d="M12,19h5v17h-5V19z M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12	c1.521,0,2.458,1.08,2.486,2.499C17,15.887,16.035,17,14.485,17z M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698	c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19h5v2.616C25.721,20.5,26.85,19,29.738,19	c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
				</svg>
			</a>
			<!--
			<a href="https://twitter.com/astrodotbuild" target="_blank">
				<span class="sr-only">Follow Astro on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>-->
			<a href="https://github.com/elsbeth-m" target="_blank">
				<span class="sr-only">Check out my GitHub profile!</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
